*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* 1 color: #ed579e;
2 color : #ab54a2 */
:root{
    --color-1: #ed579e;
    --color-2: #ab54a2;
    --section-m: 60px auto;
    --bg-linear: linear-gradient( 220deg , #ab54a2 30%, #ab54a26c 30%, #ab54a2 30%, #ab54a241 );
}
body{
    perspective: 900px;
}
hr{
    width: 100%;
    border: none;
    height: 2px;
    background: var(--bg-linear);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.navbar .logo img{
    width: 100px;
    height: 80px;
}
.navbar .navbar_items .item{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.navbar .navbar_items .item .item_link{
    display: block;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: bold;
    color: var(--color-1);
}
.navbar .navbar_items .border-hover::before,
.navbar .navbar_items .border-hover::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--color-2);
}
.navbar .navbar_items .border-hover::before{
    left: 50%;
    top: 0;
    transition-duration: 0.4s;
}
.navbar .navbar_items .border-hover::after{
    left: 50%;
    bottom: 0;
    transition-duration: 0.4s;
  }
.navbar .navbar_items .border-hover .item_link::before,
.navbar .navbar_items .border-hover .item_link::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--color-2);
}
  .navbar .navbar_items .border-hover .item_link::before{
    left: 0;
    top: 50%;
    transition-duration: 0.4s;
  }
  .navbar .navbar_items .border-hover .item_link::after{
    right: 0;
    top: 50%;
    transition-duration: 0.4s;
  }
.navbar .navbar_items .border-hover:hover::before,
.navbar .navbar_items .border-hover:hover::after{
    left: 0;
  }
.navbar .navbar_items .border-hover:hover .item_link::before,
.navbar .navbar_items .border-hover:hover .item_link::after{
    top: 0;
  }

.navbar .navbar_items .border-hover:hover::before,
.navbar .navbar_items .border-hover:hover::after{
    width: 100%;
}
.navbar .navbar_items .border-hover:hover .item_link::before,
.navbar .navbar_items .border-hover:hover .item_link::after{
    height: 100%;
}
.navbar .icons .item .item_link{
    color: var(--color-2);
}
.navbar .navbar_items .item .dropdown{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50px;
    left: 10px;
    width: fit-content;
    background: #fff;
    padding: 10px;
    border: 3px double var(--color-1);
    box-shadow: 0px 4px 10px 5px var(--color-2);
    transition: all 1s ease-in-out;
    transform: scale(0);
}
.navbar .navbar_items .item:hover .dropdown{
    transform: scale(1);
}
.navbar .navbar_items .item .dropdown .dropdown_items{
    width: 100%;
    margin: 0 20px;
}
.navbar .navbar_items .item .dropdown .dropdown_items .dropdown_item{
    display: block;
    width: 120px;
}
.navbar .navbar_items .item .dropdown .dropdown_items .dropdown_item .dropdown_link{
    font-size: 20px;
    font-weight: 500;
    color: var(--color-2);
    text-transform: capitalize;
}

.navbar .navbar_items .item .dropdown .dropdown_items .dropdown_item .dropdown_link:hover{
    color: var(--color-1);
}
.navbar .navbar_items .item .dropdown .dropdown_items .dropdown_item:first-child .dropdown_link{
    font-weight: bolder;
    border-bottom: 1px dotted  var(--color-2);
}
.navbar .navbar_items .item .item_link .num{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    background-color: var(--color-2);
}
/* navbar */

/* hero */

.hero{
    width: 100%;
    height: calc(90vh - 100px);
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background:  url(../img/bg-1.png) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.hero .text {
    width: 250px;
}
.hero .text h2{
    font-size: 40px;
    padding: 20px 0;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
}
.hero .text .btn{
    display: block;
    border: 2px solid var(--color-1);
    color: var(--color-1);
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all 2s ease;
    cursor: pointer;
    background: #fff;
    border-radius: 25px;

}
.hero .text .btn:hover{
    background: none;
    color: #fff;
}
.hero .text .btn::before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 25px;
    background: var(--color-1);
    transition: 0.8s;
}
.hero .text .btn:hover::before{
    height: 100%;
    width: 100%;
}
.hero .images{
    height: 450px;
    width: 450px;
    animation: move 10s ease-in-out  infinite alternate-reverse forwards;
    transition:all .5s ease-in-out;
}

@keyframes move {
    0%{
        background: url(../img/h-1.png) no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
    50%{
        background: url(../img/h-2.png) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    100%{
        background: url(../img/h-3.png) no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
/* hero */

/* special */

.special{
    width: 100%;
    margin: var(--section-m);
    text-align: center;
}
.title{
    width: 50%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-2);
    position: relative;
}
.title h2{
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    text-transform: capitalize;
    text-shadow: 2px 2px 10px var(--color-2);
}
.title::before{
    content: '';
    position: absolute;
    bottom:20%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 10%;
    height: 3px;
    background-color: var(--color-2);
    transition: .5s ease-in-out;
}
.title:hover:before{
    width: 30%;
}
.special .products{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}
.special .products .product{
    text-align: start;
    box-shadow: -15px 0px 10px 0px var(--color-2) inset;
    transition: .5s ease;
}
.special .products .product:hover{
    transform: translateY(-10px);
}
.special .products .product .image img{
    width: 100%;
    height: 250px;
    filter: grayscale(1) blur(2px);
    object-fit: cover;
    transition: .5s ease-in-out;
}
.special .products .product:hover .image img{
    filter: grayscale(0) blur(0);
}
.special .products .product .info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;
}

.special .products .product .info .text span{
    text-transform: capitalize;
    color: var(--color-2);
    font-size: 15px;
}
.special .products .product .info .text h2{
    text-transform: capitalize;
    color: var(--color-1);
    font-size: 20px;
}
.special .products .product .info .icon{
    width: 30px;
    height: 30px;
    text-align: center;
    background: var(--color-2);
    line-height: 30px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
}
.special .products .product:hover .info .icon{
    opacity: 1;
    visibility: visible;
}
.special .products .product .info .icon i{
    color: #fff;
    font-size: 15px;
}
/* special */

/* Penelope */
.Penelope{
    margin: 20px auto;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 350px;
    
}
.Penelope .lg-box{
    background: var(--bg-linear);
    flex: 2 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    color: #fff;
}
.Penelope .lg-box .info{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-weight: bold;
    text-shadow: 5px 5px 20px var(--color-1);
}
.Penelope .lg-box .info i{
    font-size: 50px;
    margin-right: 10px;
}
.Penelope .lg-box .info .pen-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin: 5px 0 0;
}
.Penelope .lg-box .info .pen-subtitle{
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: underline double;
}
.Penelope .lg-box p{
    width: 100%;
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
    padding: 20px 10px;
}
.Penelope .lg-box .lines{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}
.Penelope .lg-box .lines span{
    display:inline-block;
    width: 10%;
    margin: 0 1%;
    height: 2px;
    background-color: #fff;
}
.Penelope .box{
    flex: 1 0 25%;
    background: url(../img/cms-banner-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    text-transform: capitalize;
    transition: .5s ease-in-out;
}
.Penelope .box:hover{
    transform: scale(1.1);
}
.Penelope .box:last-child{
    background: url(../img/cms-banner-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.Penelope .box span{
    color: var(--color-1);
}
.Penelope .box h2{
    color: var(--color-2);
    
}
/* Penelope */

/* delivery */
.delivery{
    margin: 30px auto;
    column-count: 5;
    column-width: 20%;
    column-gap: 2%;
    column-rule: 4px double var(--color-2);
    width: 100%;
    text-align: center;
}
.delivery .box{
    flex: 1 0 20%;
    margin: 0 auto;
}
.delivery .box:last-child{
 border-right: none;   
}
.delivery .box .image{
    margin: 0 auto;
    width: 55px;
    height: 60px;
    background: url(../img/service-icon.png) no-repeat;
    background-size: cover;
    transition: .5s ease-in-out;
}
.delivery .box:hover .image{
    background-position-y: calc(-60px * 2) ;
}
.delivery .box:nth-child(2) .image{
    background-position-y: calc(-60px * 4) ;
}
.delivery .box:nth-child(2):hover .image{
    background-position-y: calc(-60px * 6) 
}
.delivery .box:nth-child(3) .image{
    background-position-y: calc(-60px * 8) ;
}
.delivery .box:nth-child(3):hover .image{
    background-position-y: calc(-60px * 10) ;
}
.delivery .box:nth-child(4) .image{
    background-position-y: calc(-60px * 12) ;
}
.delivery .box:nth-child(4):hover .image{
    background-position-y: calc(-60px * 14) ;
}
.delivery .box:nth-child(5) .image{
    background-position-y: calc(-60px * 16) ;
}
.delivery .box:nth-child(5):hover .image{
    background-position-y: calc(-60px * 18) ;
}
.delivery .box .text{
    margin: 15px auto;
    padding: 0 10px;
}
.delivery .box .text h2{
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-2);
    margin-bottom: 5px;
    font-weight: bold;
}
.delivery .box .text p{
    font-size: 15px;
    color: var(--color-1);
    font-weight: 400;
}
/* delivery */

/* Featured  */
.featured{
    width: 100%;
    margin: var(--section-m);
}
.featured .featured-navbar{
    margin: 25px auto;
}
.featured .featured-navbar .featured-items{
    display: flex;
    justify-content: center;
    width: 100%;
}
.featured .featured-navbar .featured-items .featured-item{
    padding: 10px 15px;
    position: relative;
}
.featured .featured-navbar .featured-items .featured-item .featured-link{
    display: block;
    color: var(--color-1);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-in-out;
}
.featured .products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    grid-auto-flow: auto;
}
.featured .products .product{
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px #ab54a28a inset;
}
.featured .products .product .image{
    background: var(--color-2);
    width: 100%;
    height: 300px;
    position: relative;
}
.featured .products .product .image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transition: .5s ease-in-out;
}
.featured .products .product:hover .image .overlay{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
}
.featured .products .product .image .overlay img{
    width: 100%;
    height: 100%;
}
.featured .products .product .image  .social-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}
.featured .products .product:hover .image  .social-icons{
    visibility: visible;
    opacity: 1;
}
.featured .products .product .image  .social-icons i{
    background: var(--color-2);
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    transition: .5s ease-in-out;
}
.featured .products .product .image  .social-icons i:hover{
    background: #fff;
    color: var(--color-1);
}
.featured .products .product .image img{
    width: 100%;
    height: 100%;
}
.featured .products .product .info{
 text-align: start;
 margin: 10px ;
}
.featured .products .product .info .icons{
    color: yellow;
    font-size: 19px;
}
.featured .products .product .info .product-name{
    font-size: 23px;
    margin: 10px 0;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--color-2);
}
.featured .products .product .info .price{
    font-size: 15px;
    font-weight: bold;
    color: var(--color-1);
}
.featured .products .product .info .price span{
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    color: var(--color-2);
}
/* Featured  */